<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hrport.project.main.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHome</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/UserHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaticPageServlet</display-name>
    <servlet-name>StaticPageServlet</servlet-name>
    <servlet-class>hrport.project.main.controller.StaticPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticPageServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idk</display-name>
    <servlet-name>idk</servlet-name>
    <servlet-class>idk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idk</servlet-name>
    <url-pattern>/idk</url-pattern>
  </servlet-mapping>
</web-app>