<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee" version="6.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hrport.project.main.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHome</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/UserHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUtente</display-name>
    <servlet-name>EditUtente</servlet-name>
    <servlet-class>hrport.project.main.controller.EditUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUtente</servlet-name>
    <url-pattern>/EditUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUtente</display-name>
    <servlet-name>UpdateUtente</servlet-name>
    <servlet-class>hrport.project.main.controller.UpdateUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUtente</servlet-name>
    <url-pattern>/UpdateUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>hrport.project.main.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutRoute</display-name>
    <servlet-name>LogoutRoute</servlet-name>
    <servlet-class>hrport.project.main.controller.user.LogoutRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutRoute</servlet-name>
    <url-pattern>/LogoutRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUtenteNoPws</display-name>
    <servlet-name>UpdateUtenteNoPws</servlet-name>
    <servlet-class>hrport.project.main.controller.UpdateUtenteNoPws</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUtenteNoPws</servlet-name>
    <url-pattern>/UpdateUtenteNoPws</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateProfileNoAttachments</display-name>
    <servlet-name>UserUpdateProfileNoAttachments</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UserUpdateProfileNoAttachments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateProfileNoAttachments</servlet-name>
    <url-pattern>/UserUpdateProfileNoAttachments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertProfileNoAttachments</display-name>
    <servlet-name>UserInsertProfileNoAttachments</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UerProfileInsertNoAttachments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertProfileNoAttachments</servlet-name>
    <url-pattern>/UserInsertProfileNoAttachments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertIstruzione</display-name>
    <servlet-name>InsertIstruzione</servlet-name>
    <servlet-class>hrport.project.main.controller.user.InsertIstruzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertIstruzione</servlet-name>
    <url-pattern>/InsertIstruzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIstruzione</display-name>
    <servlet-name>UpdateIstruzione</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UpdateIstruzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIstruzione</servlet-name>
    <url-pattern>/UpdateIstruzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEsperienzaLav</display-name>
    <servlet-name>InsertEsperienzaLav</servlet-name>
    <servlet-class>hrport.project.main.controller.user.InsertEsperienzaLav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEsperienzaLav</servlet-name>
    <url-pattern>/InsertEsperienzaLav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEsperienzaLav</display-name>
    <servlet-name>UpdateEsperienzaLav</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UpdateEsperienzaLav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEsperienzaLav</servlet-name>
    <url-pattern>/UpdateEsperienzaLav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCategoryWithSkills</display-name>
    <servlet-name>InsertCategoryWithSkills</servlet-name>
    <servlet-class>hrport.project.main.controller.user.InsertCategoryWithSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCategoryWithSkills</servlet-name>
    <url-pattern>/InsertCategoryWithSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryWithSkills</display-name>
    <servlet-name>UpdateCategoryWithSkills</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UpdateCategoryWithSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryWithSkills</servlet-name>
    <url-pattern>/UpdateCategoryWithSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteIstruzione</display-name>
    <servlet-name>DeleteIstruzione</servlet-name>
    <servlet-class>hrport.project.main.controller.user.DeleteIstruzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIstruzione</servlet-name>
    <url-pattern>/DeleteIstruzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEsperienzaLav</display-name>
    <servlet-name>DeleteEsperienzaLav</servlet-name>
    <servlet-class>hrport.project.main.controller.user.DeleteEsperienzaLav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEsperienzaLav</servlet-name>
    <url-pattern>/DeleteEsperienzaLav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryWithSkills</display-name>
    <servlet-name>DeleteCategoryWithSkills</servlet-name>
    <servlet-class>hrport.project.main.controller.user.DeleteCategoryWithSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryWithSkills</servlet-name>
    <url-pattern>/DeleteCategoryWithSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCandidatura</display-name>
    <servlet-name>InsertCandidatura</servlet-name>
    <servlet-class>hrport.project.main.controller.user.InsertCandidatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCandidatura</servlet-name>
    <url-pattern>/InsertCandidatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCandidatura</display-name>
    <servlet-name>DeleteCandidatura</servlet-name>
    <servlet-class>hrport.project.main.controller.user.DeleteCandidatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCandidatura</servlet-name>
    <url-pattern>/DeleteCandidatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertProfileAttachment</display-name>
    <servlet-name>UserInsertProfileAttachment</servlet-name>
    <servlet-class>hrport.project.main.controller.user.UserInsertProfileAttachment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertProfileAttachment</servlet-name>
    <url-pattern>/UserInsertProfileAttachment</url-pattern>
  </servlet-mapping>
</web-app>